@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
@keyframes fade-in-up {
	0% {
		opacity: 0;
		transform: translateY(2px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-fade-in-up {
	animation: fade-in-up 0.15s ease-out;
}

.react-datepicker-wrapper {
	display: inline-block;
}
.react-datepicker__input-container {
	display: block;
}
.trim-text {
	max-width: 30ch;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}
